<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">

      <div class="nav-bottom-item">
        <a href="#" clas="nav-bottom-item left">
          <div class="nav-bottom-icon active">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <div class="nav-bottom-text active">
            <p>Home</p>
          </div>
      </div>

      <div class="nav-bottom-item">
        <a href="/list" clas="nav-bottom-item middle">
          <div class="nav-bottom-icon">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
          <div class="nav-bottom-text">
            <p>New Reflection</p>
          </div>
      </div>

      <div class="nav-bottom-item middle">
        <a href="/add-question" clas="nav-bottom-item middle">
          <div class="nav-bottom-icon">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
          <div class="nav-bottom-text">
            <p>Add Question</p>
          </div>
        </a>
      </div>

      <div class="nav-bottom-item">
        <a href="#" clas="nav-bottom-item right">
          <div class="nav-bottom-icon">
            <span class="	glyphicon glyphicon-stats"></span>
          </div>
          <div class="nav-bottom-text">
            <p>Stats</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
