<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>List</title>
</head>
<body background="http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">
	<h2>Add a List</h2>
  <a href="/">Back</a>
</body>
</html>
