<html>
<head>
	<title>List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	 <link href="/css/hcilist.css" rel="stylesheet">
	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body background= "http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">
	<div class="top-container">
	  <a href="/">Start Screen</a>
	  <h2>Your List Today</h2>

	  <div class = "todaylist">
	  <p>List 3 things you are grateful for:</p>
	    <form action="list">
	    <p>1. Item One</p>
	    <br />

	    <p>2. Item Two</p>
	    <p/>
	    <br />

	    <p>3. Item Three</p>
	    <p />
	    <br />
	    <input type='submit' name='Edit' value='Edit'/>
	    </form>
	    </div>

	  <a href="/more-details"><input type='submit' name='Submit' value='Add more details about your day'/></a>
	</div>
</body>
</html>
