<link href="https://fonts.googleapis.com/css?family=Lato|Poiret+One|Raleway|Roboto" rel="stylesheet">
<html>
<head>
	<title>front</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	 <link href="/css/hcilist.css" rel="stylesheet">
	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body id="bg2">

		<div class="top-container">
		<h1 class="mehtext">Welcome to</h1><br>
		<h1 class="evoke"><b>evoke</b></h1>
    <div class="addmargin">
		<p class="smallertext">Want to practice being mindful, but unsure of where to start? With its daily guided microjournaling, Evoke will help you achieve mindfulness!</p>
		<p class="mediumtext">Happy reflecting! </p> </div>
		<a href = "/login"/><button type="button" id ="helpmebuttons" class="btn-primary-outline">get started</button></a>

	</div>
</body>
</html>
