<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<link href="/css/hcilist.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
	<title>Help</title>
</head>
<body id = "bg1">
	{{> navbar}}

<div class = "helptext" id="helpme">
	<h2>Help</h2>
	<p>Welcome to <b>EVOKE!</b></p>

		<p>Your previous recollections are displayed on the <b>home screen.</b> </p>
		<p>Have a list prompt you would like to see?

		- Go to <b>Add your own list</b>, share your idea, then receive it back for you to answer the next day.</p>
		<p>Want to filter the types of lists prompts you receive?
		- Go to <b>settings</b> and select topics accordingly.</p>

		<p>Memories are made for collecting and recollecting. Happy reflecting!</p>
</div>
	<img src="http://www.theleonardo.org/wp-content/uploads/2015/05/zen-rock.jpg" style="width:360px;height:250px;">

	{{> navBottom}}
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
	{{> ga}}
</body>
</html>
