<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
		<link href="/css/hcilist.css" rel="stylesheet">
	<title>Help</title>
</head>
<body id = "bg1">
	{{> navbar}}
<div id="cover-photo">
	</div>
<div class = "helptext" id="helpme">
	<h2 class="mehtext">Help</h2>
	<p class="smallertext">Welcome to <b id="bold">Evoke!</b></p>

</br>
		<p class="smallertext">Your previous recollections are displayed on the <b id="bold">home screen.</b> </p></br>
		<p class="smallertext">
		Go to <b  id="bold">Add question</b> to create a custom question prompt.</p></br>

		<p class="smallertext">To filter the types of question prompts
		Go to <b id="bold">settings</b> and select topics accordingly.</p></br>

		<p class="smallertext">
		Go to <b  id="bold">Stats</b> to see a visual representation of your weather and mood emoji usage.</p></br>

		<p class="smallertext">
		Go to <b  id="bold">New Reflection</b> to get another question</p></br>

		<p class="smallertext">
		Click <b  id="bold">Skip Question</b> to get a new question for the day.</p>
</br>
		<p class="smallertext">Memories are made for collecting and recollecting. Happy reflecting!</p>
</br></br></br>
</div>
	<!-- <img src = "http://i.imgur.com/zB0OufS.png" id="whitepic" style="width:100%;height:250px;"> -->

	{{> navBottom}}
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
	{{> ga}}
</body>
</html>
