<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<link href="/css/hcilist.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
	<title>Help</title>
</head>
<body background= "http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default">
<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Recollections</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/index">Home</a></li>
			<li><a href="/add-list">Add your own list</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="/">Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- NAV BAR END -->

	<h2>Help</h2>
	<p>Welcome to RECOLLECTIONS!</p>
		<p>Our app will help make you more mindful in two ways.</p>
		<p>1. It will get you in the habbit of doing a daily reflecting, it's god practice to stay in the moment.</p>
		<p>2. Reflection can serve as useful way to gather insight on yourself and your goals.</p>
	<p>If you are here you are probably confused, we're sorry about that.
		The basic run down of our app is that all your memories are dislayed on the home page
		your mindful activity for the day can be found by hitting "start today" on the home screen.
		Edit the types of questions you get asked in the settings tab.
	</p>
  <a href="/index">Back</a>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
