<html>
<head>
	<title>Home</title>
    <link href="/css/hcilist.css" rel="stylesheet">
</head>
<body>
    <div>
    <h3 id="demo"></h3>
    <script>
    var d= new Date(); 
    document.getElementById("demo").innerHTML = d.toDateString(); 
    </script>
	</div>
    <div>
        <div>
		<h1>Last Week Today</h1>
        <h3>You were:</h3>
        </div>
        <div> 
        <p id="last"></p>
        <script>
        var lastWeek = new Date(); 
        lastWeek.setDate(lastWeek.getDate()-7); 
        document.getElementById("last").innerHTML = lastWeek.toDateString(); 
        </script>
        <div class=box>
        <p>Happy about:</p><br />
        <p>1. Midterms</p><br />
        <p>2. Chipotle</p><br />
        <p>3. Had coffee w/ Rob</p><br />
        </div>
        </div>

			<a href="/list">Start Today</a>
		<h2>Menu</h2>
			<ul>
				<li><a href="/add-list">Add your own list</a></li>
				<li><a href="/settings">Settings</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
	</div>
</body>
</html>
