<html>
<head>
	<title>App Home</title>
</head>
<body>
	<div>
		<h1>App</h1>
			<a href="/list">Start Today</a>
		<h2>Menu</h2>
			<ul>
				<li><a href="/add-list">Add your own list</a></li>
				<li><a href="/settings">Settings</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
	</div>
</body>
</html>
