<html>
<head>
	<title>List</title>
</head>
<body>
  <h2>Your List Today</h2>
  <p>List 3 things you are grateful for:</p>
	<a href="/">Start Screen</a>
  <a href="/more-details">Add more details about your day</a>
</body>
</html>
