<html>
<head>
	<title>List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	 <link href="/css/hcilist.css" rel="stylesheet">
	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body background="http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">


	<!-- NAVBAR -->
	<nav class="navbar navbar-default">
<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">App Name</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/add-list">Add your own list</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="/">Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- NAV BAR END -->


	<div class="top-container">

	  <a href="/index">Start Screen</a>
	  <h2>Your List Today</h2>

	  <div class = "todaylist">
	  <p>List 3 things you are grateful for:</p>
	    <div id="list-form">
	    <p>1. <input type="text" class="listItem" id="one" placeholder="type" name"type"/>
	    </p>
	    <br />

	    <p>2. <input type="text" class="listItem" id="two" placeholder="type" name"type"/>
	    <p/>
	    <br />

	    <p>3. <input type="text" class="listItem" id="three" placeholder="type" name"type"/>
	    <p />
	    <br />
				<button id="submit-button">Submit</button>
				<button id="edit-button">Edit</button>
	    </form>


	    </div>

	  <a href="/more-details"><input type='submit' name='Submit' value='Add more details about your day'/></a>
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/list.js"></script>
</body>
</html>
