<html>
<head>
	<title>List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	 <link href="/css/hcilist.css" rel="stylesheet">
	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="top-container">
	  <h2>Login</h2>

	  <div class = "login">
	    <form action="login">
	    <p>User name: <input type="text" class="login" id="user" placeholder="type" name"type"/>
	    </p>
	    <br />

	    <p>Password: <input type="text" class="password" id="password" placeholder="type" name"type"/>
	    <p/>
	    <br />

	    </form>

	    <a href="/index"> <input type='submit' name='Submit' value='Submit'/></a>
	    </div>
	</div>
</body>
</html>
