<html>
<head>
	<title>List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	 <link href="/css/hcilist.css" rel="stylesheet">
	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body background="http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">
	<div class="top-container">
		<h2>Welcome to</h2>
		<h2>RECOLLECTIONS!</h2>
		<h3>Login</h3>

	  <div id=userName class="login">
			<form id="addUser" method= "get" action="/login">
	    <p>Username: <input type="text" id="user" placeholder="type" name="person" required/></p>
	    <br />
	    <p>Password: <input type="text" class="login-info" id="password" placeholder="type" name"type"/><p/>
			</form>
		</div>
	    <a href="/index"> <button class="submit">Submit</button></a>

		<p>Our app will help make you more mindful in two ways.</p>
		<p>1. It will get you in the habbit of doing a daily reflecting, it's god practice to stay in the moment.</p>
		<p>2. Reflection can serve as useful way to gather insight on yourself and your goals.</p>
	</div>
</body>
</html>
