<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>More Details</title>
</head>
<body background= "http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">
  <h2>More Details</h2>
	<a href="/list">Back</a>
</body>
</html>
