<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>More Details</title>
	<link href="/css/hcilist.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body id = "bg1">
	{{> navbar}}

	<p>Mood:</p>
	<button id="emoji-button"><i class="em em-smile extbox-content"></i></button>
	<button id="emoji-buttons"><i class="em em-grimacing"></i></button>
	<button id="emoji-buttons"><i class="em em-pensive"></i></button>
	<p>Weather:</p>
	<button id="weather-button"><i class="em em-sunny"></i></button>
	<button id="weather-button"><i class="em em-partly_sunny">></i></button>
	<button id="weather-button"><i class="em em-umbrella"></i></button>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
	{{> ga}}
</body>
</html>
