<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>More Details</title>
	<link href="/css/hcilist.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body background="https://s-media-cache-ak0.pinimg.com/564x/8a/c5/f3/8ac5f3ea403e5eaab530a41ab35b832c.jpg">
		<!-- NAVBAR -->
	<nav class="navbar navbar-default">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/index"><span class="glyphicon glyphicon-home"></span> Recollections</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/index">Home</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="/">Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
	<!-- NAV BAR END -->
	<h2>More Details</h2>
	<p>Mood:</p>
	<button id="emoji-button"><i class="em em-smile extbox-content"></i></button>
	<button id="emoji-buttons"><i class="em em-grimacing"></i></button>
	<button id="emoji-buttons"><i class="em em-pensive"></i></button>
	<p>Weather:</p>
	<button id="weather-button"><i class="em em-sunny"></i></button>
	<button id="weather-button"><i class="em em-partly_sunny">></i></button>
	<button id="weather-button"><i class="em em-umbrella"></i></button>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
