<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>Settings</title>
</head>
<body background="http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg">

  <a href="/index">Back</a>
	<h2>Settings</h2>
	<h2>What topics would you like your lists to focus on?</h2>

	<div id="checkbox-container">
		<div>
		<input type="checkbox" id="spirituality" checked>
	    <label for="spirituality">Spirituality</label>
	  </div>
	  <div>
		<input type="checkbox" id="relationships" checked>
	    <label for="relationships">Relationships</label>
	  </div>
	   <div>
		<input type="checkbox" id="health" checked>
	    <label for="health">Health</label>
	  </div>
	   <div>
		<input type="checkbox" id="happiness" checked>
	    <label for="happiness">Happiness</label>
	  </div>
	  <div>
		<input type="checkbox" id="goals" checked>
	    <label for="goals">Goals</label>
	  </div>
	</div>
</body>
</html>
