<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>Settings</title>
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/hcilist.css" rel="stylesheet">
</head>
<body id = "bg1">
	{{> navbar}}

<div id="settings">
	<h2 class="mehtext">Settings</h2>
	<h3 class="mediumtext">What topics would you like your lists to focus on?</h3>

	<div id="checkbox-container">
		<div>
		<input type="checkbox" id="spirituality" checked>
	    <label for="spirituality" class="smallertext">Spirituality</label>
	  </div>
	  <div>
		<input type="checkbox" id="relationships" checked>
	    <label for="relationships" class="smallertext">Relationships</label>
	  </div>
	   <div>
		<input type="checkbox" id="health" checked>
	    <label for="health" class="smallertext">Health</label>
	  </div>
	   <div>
		<input type="checkbox" id="happiness" checked>
	    <label for="happiness" class="smallertext">Happiness</label>
	  </div>
	  <div>
		<input type="checkbox" id="goals" checked>
	    <label for="goals" class="smallertext">Goals</label>
	  </div>
	</div>
	<h3 class="mediumtext">Create a custom question</h3>
	<a href="/add-question"><button class="submit">Click here to add your idea</button></a>
</div>

{{> navBottom}}
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
	{{> ga}}
</body>
</html>
