<html>
<head>
	<title>List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
	 <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	 	 <link href="/css/hcilist.css" rel="stylesheet">

</head>
<body id = "bg1">
	{{> navbar}}

<div class="top-container">
	  <h2>Today's Reflection</h2>

	  <div class = "todaylist">
		<h3>Submitted</h3>
    <button class="submit"><a href="/index">View Your Past Reflections</a></button>
	</div>
</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/list.js"></script>
	{{> ga}}
</body>
</html>
