<html>
<head>
	<title>List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	 <link href="/css/bootstrap-theme.css" rel="stylesheet">
	 <link href="/css/bootstrap.css" rel="stylesheet">
	 <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	 	 <link href="/css/hcilist.css" rel="stylesheet">

</head>
<body background="https://s-media-cache-ak0.pinimg.com/564x/8a/c5/f3/8ac5f3ea403e5eaab530a41ab35b832c.jpg">

	{{> navbar}}

<div class="top-container">
	  <h2>Your List Today</h2>

	  <div class = "todaylist">
		<h3>Submitted</h3>
    <button class="submit"><a href="/index">View Your Recollections</a></button>
	</div>
</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/list.js"></script>
	{{> ga}}
</body>
</html>
