html, body {
  width: 100%;
}

.app {

}

.todaylist {
  color: #01C5E8;
}

.textbox {
	padding: 10px;
	border: 5px solid gray;
	margin: 0;
  display: inline-block;
}

#last {
  margin-left: 30px;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
}

#start {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 25%;
  background: #232950;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


