html, body {
  width: 100%;
}

.app {

}

.todaylist {
  color: #01C5E8;
}

body {background: url("http://www.tananyag.almasi.hu/szlavikne/Light%20Blue%20Green%20Grad%20BK.jpg") no-repeat center center fixed;
background-size: cover;
}
.textbox {
	padding-right: 10px;
  padding-left: 10px;
	border: 5px solid gray;
	margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

#last {
  margin-left: 30px;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
}

.p {
   padding: 10px 30px 50px 80px;
 }

 p{
   font-family: 'Scope One', serif;
   padding: 10px 10px 10px 10px;
 }

#start {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 25%;
  background: #232950;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-button {
  display:none;
}
