html, body {
  width: 100%;
}

.app {

}

.todaylist {
  margin-left: 20px;
  margin-right: 20px;
  color: #01C5E8;
}

body {background: url("https://s-media-cache-ak0.pinimg.com/564x/8a/c5/f3/8ac5f3ea403e5eaab530a41ab35b832c.jpg") no-repeat center center fixed;
background-size: cover;
}
.topmeh{
  text-align: center;
  justify-content: center;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto

  /*height: auto;
 width: 100%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 border-radius: 50%;*/
}

.textbox {
padding-right: 10px;
padding-left: 10px;
/* border: 5px solid gray; */
background: white;
border-radius: 15px;
border-bottom: 2px solid rgba(0, 0 ,0,0.1);
border-right: 2px solid rgba(0, 0 ,0,0.1);
margin-bottom: 40px;
padding: 10px;
}

.helptext{
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;

  border-right: 2px

  padding: 10px;
}

.flex-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.em {
  width: 40px;
  height: 40px;
}

.textbox-date {
}
.textbox-title {
 color: lightskyblue;
 margin-top: 0;
}

.textbox-content {
 margin-bottom: 0;
}

.heading {
  color: #445DDF;
  text-align: center;
  font-size: 30px;
}

.cardHeader #dropdownMenu1 {
    background: none;
    height: 25px;
    margin-bottom: 5px;
}

.modal-close {
  m
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-menu {
  left: -47;
  min-width: 0;
}

#index-heading {
 margin-bottom: 17px;
}

#last {
  margin-left: 30px;
}

.top-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
}

.p {
  font-family: 'Scope One', serif;
   padding: 10px 30px 50px 80px;
 }

 #p{
   font-family: 'Scope One', serif;
 }

#start {
  display: block;
  width: 100%;
  height: 130px;
  background: #445DDF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 30;
}
.login{
  width: 100%;
  height: 130px;
  background: #445DDF;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
}
.submit{
  background: #445DDF;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  border: none;
  height: 50px;
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
#settings{
  margin: 15px;
}

#name{
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#edit-button {
  display:none;
}

.emoji {
  margin: 7px;
}

input[type="radio"]{
  display: block;
  margin: 0 auto;
}

.btnContainer {
  display: flex;
  margin-top: 15px;
}

.saveBtn {
  margin: auto;
}

.screen2{
   margin-left: auto;
   margin-right: auto;
 }



#listSubmit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
